<!DOCTYPE html>
<html lang="pt" data-bs-theme="dark">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Classroom</title>
        <link rel="stylesheet" href="./assets/layout/navbar.css">
        <link rel="stylesheet" href="./assets/css/index.css">
    </head>

    <body>
        <nav class="navbar">
            <ul>
                <li>
                    <a class="home" href="./pages/home.html">Home</a>
                    <a class="explorer" href="index.html">Explorer</a>
                    <a class="siginin" id="btnsiginin"
                        href="./pages/user-login.html">Sigin In</a>
                    <a class="siginup" id="btnsiginup"
                        href="./pages/user-cadastro.html">Sigin Up</a>
                </li>
            </ul>
        </nav>
        <script src="./assets/js/app.js"></script>
    </body>

</html>